venv/
.env
data-engineering-zoomcamp/
_pycache_
ny_taxi_postgres_data/
*.json
__pycache__/
.ipynb_checkpoints/
data/
mage-zoomcamp/
.dlt/
logs/
gitclones/
Common_Crawl_Pipeline
*.gz
*.parquet
_SUCCESS
*.crc
*.jar
risingwave-data-talks-workshop-2024-03-04